.YS{color: rgb(24, 209, 233);}
.JZ{text-align: center}
.A{color: rgb(114, 228, 21);font-size: 24px}
#ys{color: rgb(24, 209, 233);}
#JG{color: rgb(255, 0, 0);}
#a{font-size: 36px;color: rgb(255, 0, 0);}