a{color:#FC0D00;font-size: 30px;text-decoration: none;}
h2{color:rgb(238, 5, 5);}
.center {text-align:center}
#title{color: rgba(0, 204, 255, 0.89);}
.word{color: rgb(238, 5, 5);font-size: 22px}
#b{color: #ebfc08}
a:link {color: rgb(238, 255, 0)}		/* 未访问的链接 */
a:visited {color: rgb(157, 255, 0)}	/* 已访问的链接 */
a:hover {color: rgb(38, 0, 255)}	/* 鼠标移动到链接上 */
a:active {color: rgb(0, 255, 76)}	/* 选定的链接 */